<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 ">
      <form [formGroup]="projectForm" (ngSubmit)="onSaveProject(projectForm.value)">
          <div class="form-group mb-2">
            <h3 class="mb-3">Sample Project</h3>
            <label for="name">Project Name</label>
            <input
              id="name"
              type="text"
              class="form-control"
              formControlName="projectName">
          </div>

          <div class="form-group mb-2">
            <label for="email">Mail</label>
            <input
              id="mail"
              type="email"
              class="form-control"
              formControlName="email">
          </div>

          <div class="form-group mb-3">
            <label for="status">Project Status</label>
            <select 
              id="status" 
              class="form-control"
              formControlName="projectStatus">
                <option value="stable">Stable</option>
                <option value="critical">Critical</option>
                <option value="finished">Finished</option>
            </select>
          </div>

          <button class="btn btn-success mb-3" [disabled]="!projectForm.valid" type="submit">Create Project</button>
      </form>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-xs-12 col-md-6 ">
      <button class="btn btn-primary" (click)="onFetchProjects()">
        Fetch Projects
      </button>
      |
      <button
        class="btn btn-danger"
        [disabled]="loadedProjects.length < 1"
        (click)="onClearProjects()">
        Clear Projects
      </button>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-xs-12 col-md-6 mb-5">
      <p 
      *ngIf="loadedProjects.length < 1"
       style="background-color: rgb(233, 87, 87);"
       >Nothing available here</p>
        <ul class="list-group" *ngIf=" loadedProjects.length>=1 ">
          <li
            class="list-group-item mt-2" 
            *ngFor="let project of loadedProjects"
            style="background-color: plum;" >

            <h4>{{ project.projectName}}</h4>
            <h6>{{ project.email}}</h6>
            <div >
              <h4 style="color: rgb(31, 155, 155);">{{ project.projectStatus}}</h4>
            </div>  
          </li>
        </ul>      
      </div>
  </div>
</div>

